!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "SSM"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application", "data-turbolinks-track" => false

    = csrf_meta_tags
    = yield(:head)

  %body
    %nav.navbar.navbar-default{role: "navigation"}

      / Brand and toggle get grouped for better mobile display

      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{href: "#{monitor_index_url}"} SSM
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        
        %div.col-lg-3
          %form.navbar-form.navbar-left{role: "search" , action:"/srvinfos" , method:"post" , data:{remote: true} }
            .form-group
              %input.form-control{id:"hostandport" , name:"srvinfo[hostandport]" , placeholder: "Hostname:Port", type: "text"}/
            %button.btn.btn-default{type: "submit"} ADD

        %div.col-lg-3
          %form.navbar-form.navbar-left
            .form-group
              .server-list
            %button.btn.btn-default{type: "submit"} SAVE
            %button.btn.btn-default{type: "submit"} APPLY


            

      / /.navbar-collapse

    .container-fluid
      #ssm-main.span9
        = yield

:javascript
  var myData = [{id: 1, label: "Test" },{id: 2, label: "Test2" },{id: 3, label: "Test3" }];

  $(".server-list").dropdownCheckbox({
    queryUrl: "/bootstrap-dropdown-checkbox/json/exemple_1.json",
    data: myData,
    btnClass: "btn btn-primary",
    title: "SERVER LIST"

    //templateButton: '<button><a class="dropdown-checkbox-toggle" data-toggle="dropdown-checkbox" href="#">Accounts<b class="caret"></b></a></button>' 
  });

  $(".server-list").on("click",function(){
    var checked=$("myselector").dropdownCheckbox("checked");
    var unchecked=$("myselector").dropdownCheckbox("unchecked");
    console.log("chk="+checked);
    console.log("unchk="+unchecked);
  });

  