!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "SSM"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application", "data-turbolinks-track" => false

    = csrf_meta_tags
    = yield(:head)

  %body
    %nav.navbar.navbar-default{role: "navigation"}

      / Brand and toggle get grouped for better mobile display

      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{href: "#{monitor_index_url}"} SSM
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        
        %div.col-lg-3
          %form.navbar-form.navbar-left{role: "search" , action:"/srvinfos" , method:"post" , data:{remote: true} }
            .form-group
              %input.form-control{id:"hostandport" , name:"srvinfo[hostandport]" , placeholder: "Hostname:Port", type: "text"}/
            %button.btn.btn-default{type: "submit"} ADD

        %div.col-lg-3
          %form.navbar-form.navbar-left{role: "search"}
            .form-group
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Display
                %span.caret
              %ul.dropdown-menu.dropdown-menu-form{:role => "menu"}
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"} ALL

                - @srvinfos.each do |key,srvinfo|
                  %li
                    %label.checkbox
                      %input{type: "checkbox"}= "#{key} - CPU"
                  %li
                    %label.checkbox
                      %input{type: "checkbox"}= "#{key} - MEMORY"
                  %li
                    %label.checkbox
                      %input{type: "checkbox"}= "#{key} - NETWORK"
                  %li
                    %label.checkbox
                      %input{type: "checkbox"}= "#{key} - DISK"

                  - srvinfo.each_with_index do |si,index|
                    %li
                      %label.checkbox
                        %input{type: "checkbox"}="#{si.host} - #{si.port} port"

            %button.btn.btn-default{type: "submit"} Apply


            

      / /.navbar-collapse

    .container-fluid
      #ssm-main.span9
        = yield

:javascript
  $('.dropdown-menu').on('click', function(e) {
    if($(this).hasClass('dropdown-menu-form')) {
        e.stopPropagation();
    }
  });