!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "SSM"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application" , :media => "all"
    
    = javascript_include_tag "application", "data-turbolinks-track" => false

    = csrf_meta_tags
    = yield(:head)

  %body
    %nav.navbar.navbar-default{role: "navigation"}

      / Brand and toggle get grouped for better mobile display

      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{href: "#{monitor_index_url}"} SSM
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        
        %div.col-lg-3
          %form.navbar-form.navbar-left{role: "search" , action:"/srvinfos" , method:"post" , data:{remote: true} }
            .form-group
              %input.form-control{id:"hostandport" , name:"srvinfo[hostandport]" , placeholder: "Hostname:Port", type: "text"}/
            %button.btn.btn-default{type: "submit"} ADD

        %div.col-lg-3
          %form.navbar-form.navbar-left{role: "search"}
            .form-group
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Display
                %span.caret
              %ul.dropdown-menu.dropdown-menu-form{:role => "menu"}
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " ALL"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " CPU ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " MEMORY ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " NETWORK ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " DISK ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " HTTP-23X ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " HTTP-4XX ONLY"
                %li
                  %label.checkbox
                    %input{type: "checkbox" , id: "chk_all"}= " HTTP-5XX ONLY"

                - @srvinfos.each do |key,srvinfo|
                  %li#sys
                    %label.checkbox
                      %input{type: "checkbox" , id: "chk_cpu_#{key}", name: "chk_cpu_#{key}"}= " #{key} - CPU"
                  %li#sys
                    %label.checkbox
                      %input{type: "checkbox" , id: "chk_memory_#{key}", name: "chk_memory_#{key}"}= " #{key} - MEMORY"
                  %li#sys
                    %label.checkbox
                      %input{type: "checkbox" , id: "chk_network_#{key}", name: "chk_network_#{key}"}= " #{key} - NETWORK"
                  %li#sys
                    %label.checkbox
                      %input{type: "checkbox" , id: "chk_disk_#{key}", name: "chk_disk_#{key}"}= " #{key} - DISK"

                  - srvinfo.each_with_index do |si,index|
                    %li#srv
                      %label.checkbox
                        %input{type: "checkbox" , id: "chk_port_#{si.port}_#{key}_23x", name: "chk_port_#{key}_23x"}
                          =" #{si.host} - #{si.port} 23X"
                    %li#srv
                      %label.checkbox
                        %input{type: "checkbox" , id: "chk_port_#{si.port}_#{key}_4xx", name: "chk_port_#{key}_4xx"}
                          =" #{si.host} - #{si.port} 4XX"
                    %li#srv
                      %label.checkbox
                        %input{type: "checkbox" , id: "chk_port_#{si.port}_#{key}_5xx", name: "chk_port_#{key}_5xx"}
                          =" #{si.host} - #{si.port} 5XX"

            %button.btn.btn-default{type: "submit"} Apply


            

      / /.navbar-collapse

    .container-fluid
      #ssm-main.span9
        = yield

:javascript
  $('.dropdown-menu').on('click', function(e) {
    if($(this).hasClass('dropdown-menu-form')) {
        //e.stopPropagation();
    }
  });

  $("input:checkbox[id=chk_all]").on("click", function(e){
    var chk=$(this).prop("checked");
    if(chk){
      $("li[id=sys] input:checkbox , li[id=srv] input:checkbox").each(function(){ console.log("id="+$(this).attr("id")); $(this).attr("checked",true); });
      e.stopPropagation();
    }else{
      $("li[id=sys] input:checkbox , li[id=srv] input:checkbox").each(function(){ $(this).attr("checked",false); });
      e.stopPropagation();
    }
    console.log(chk);
  });